
.inside_page_content {
  background-color: white;
  border-color: #ba9eff;
  border-style: solid;
  border-width: 1px;
  color: #4f6bad;
  padding: 5px;
}

.coolSubHeadery {
  background-image: url("/bounties/elementos/header/subheaderbg.png");
  border-color: #835de2;
  border-style: solid;
  border-width: 1px;
  height: 18px;
  margin-top: 3px;
}

.coolUsery button {
  background-color: transparent;
  background-image: url("/bounties/elementos/header/headerSeta.png");
  border: 0;
  cursor: pointer;
  float: right;
  height: 15px;
  margin-top: -1px;
  padding: 0;
  width: 26px;
}